{% extends 'base.html' %} {% block content %}
<style>
  .red {
    font-size: 1.7rem;
    color: red;
    margin-top: 0.4rem;
    
    text-align: center;
  }
  .customer-home {
    font-size: 1.5rem;
  }
  .btn {
    padding: 0.5rem 4rem;
    margin-top: 1rem;
    font-size: 2rem;
    color: red;
    border: 1px solid red;
  }
</style>
<div class="customer-home">
  {% if customer %}
  <h1>Hello, {{ customer.name }}!</h1>
  <p>Your Id: {{ customer.customer_number }}</p>
  <p class="red">Your due amount is: {{ customer.due_amount }}</p>
  {% else %}
  <p>No customer found with the provided ID.</p>
  {% endif %}
  
  <form method="post" action="{% url 'pay_due_amount' customer.id %}">
    {% csrf_token %}
    <input type="submit" value="Pay" class="btn">
</form>


</div>
{% endblock %}
